.active{
    color: #364547 !important;
    font-weight: 700 ;
}

.hero-background{
    background: linear-gradient(to bottom,rgba(255,255,255, 0.9),rgba(255,255,255, 1)),url('../img/album.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}


/*******************************/
/********* Carausel manual CSS **********/
/*******************************/

.scrolling-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
    text-align: center;
}
.scrolling-wrapper .card {
    display: inline-block;
}

.scrolling-wrapper 
{
-webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card{
    border: 1px solid red;
    margin-right: 10px;
}

.card i{
    font-size: 45px;
    padding: 80px;
}

/*******************************/
/********* Carausel manual 2 CSS **********/
/*******************************/

.scrolling-wrapper-news {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 20px;
    /* margin-left: 100px; */
}

.scrolling-wrapper-news p {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
     overflow: hidden;
}


.scrolling-wrapper-news .card-body{
    text-align: left;
}

.scrolling-wrapper-news .card-body .read{
    width: 100%;
    text-align: right !important;
}


.scrolling-wrapper-news .card {
    display: inline-block;
}

.scrolling-wrapper-news 
{
-webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-news::-webkit-scrollbar {
    display: none;
}

.card{
    border: 1px solid red;
    margin-right: 10px;
}

.card i{
    font-size: 45px;
}

.card-img-top{
    object-fit: cover;
    height: 30vh;
}
/*******************************/
/********* Carausel plugin CSS **********/
/*******************************/

.carousel{
    background-color: none;
}

.carousel-cell 
{
    display:block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 50vh;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-cell-steatment{
    display:block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 50vh;
    margin-right: 10px;
}

.container-cell 
{
    display:block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.carousel-cell-news{
    display:block;
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 50vh;
    margin-right: 10px;
    border: 1px solid #aaaa;
    margin-top: 20px;
}
