

/*******************************/

/********* Carausel manual CSS **********/

/*******************************/

.scrolling-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
    text-align: center;
}

.scrolling-wrapper .card {
    display: inline-block;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    margin-right: 10px;
}

.card i {
    font-size: 45px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    color: #364547;
}

.card h2 {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #364547;
    font-size: 1.5rem;
}

.card span {
    margin-bottom: 30px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.card:hover h2 {
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #364547;
}

.card:active {
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

/*******************************/

/********* Carausel manual 2 CSS **********/

/*******************************/

.scrolling-wrapper-news {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 20px;
    /* margin-left: 100px; */
}

.scrolling-wrapper-news p {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
}

.scrolling-wrapper-news h5 {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
}

.scrolling-wrapper-news .card-body {
    text-align: left;
}

.scrolling-wrapper-news .card-body .read {
    width: 100%;
    text-align: right !important;
}

.scrolling-wrapper-news .card {
    display: inline-block;
}

.scrolling-wrapper-news {
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-news::-webkit-scrollbar {
    display: none;
}

.card {
    margin-right: 10px;
}

.card i {
    font-size: 45px;
}

.card-img-top {
    object-fit: cover;
    height: 30vh;
}

/*******************************/

/********* Carausel plugin CSS **********/

/*******************************/

.carousel {
    background-color: none;
}

.carousel-cell {
    display: block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 50vh;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-cell-news {
    display: block;
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 50vh;
    margin-right: 10px;
    border: 1px solid #aaaa;
    margin-top: 20px;
}

/*******************************/

/********* Carausel steatment CSS **********/

/*******************************/

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #364547;
    object-fit: cover;
}

.carousel-cell-steatment {
    display: block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin-right: 10px;
}

.steatment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.steatment p {
    padding-top: 30px;
    text-align: center;
    /* border: 1px solid red; */
    width: 50%;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
}

.carousel-tes-head {
    display: block;
    width: 200px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid #f6f6f6;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.carousel-tes {
    display: block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin-right: 10px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-head {
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}

.title {
    text-align: left !important;
    line-height: 18px;
    width: 80% !important;
    font-weight: bold;
    font-size: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.name {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    width: 80% !important;
    font-size: 9px !important;
}