/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
.footer-area {
    background-color: #1A2223;
    padding: 100px 0 0;
  }
  
  @media (max-width: 991px) {
    /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area {
      padding: 70px 0 0;
    }
  }
  
  /* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .form-control {
    background-color: transparent;
  }
  
  /* line 11, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .form-group {
    margin-top: 25px;
  }
  
  /* line 15, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_img a {
    width: 24%;
    margin-left: 1%;
  }
  
  /* line 19, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_img img {
    margin-bottom: 5px;
  }
  
  @media (max-width: 991px) {
    /* line 23, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .single-footer-widget {
      margin-bottom: 30px;
    }
  }
  
  /* line 28, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget p {
    font-size: 14px;
    line-height: 1.8;
    color: #83868c;
  }
  
  /* line 34, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
  }
  
  @media (max-width: 1024px) {
    /* line 34, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .single-footer-widget h4 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 991px) {
    /* line 34, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .single-footer-widget h4 {
      margin-bottom: 15px;
    }
  }
  
  /* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget ul li {
    margin-bottom: 10px;
  }
  
  /* line 50, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget ul li a {
    color: #83868c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
  }
  
  /* line 54, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget ul li a:hover {
    color: #ff5e13;
  }
  
  /* line 58, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget ul li:last-child {
    margin-bottom: 0px;
  }
  
  /* line 63, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget .form-wrap {
    margin-top: 25px;
  }
  
  /* line 66, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget input {
    border: none;
    width: 67% !important;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    color: #999999;
    border: 0px solid transparent;
    font-family: "Roboto", sans-serif;
  }
  
  /* line 77, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* line 82, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    background-color: #ff5e13;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: relative;
    left: 0;
  }
  
  /* line 95, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  @media (max-width: 375px) {
    /* line 82, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .single-footer-widget .click-btn {
      margin-top: 10px;
    }
  }
  
  @media (min-width: 400px) {
    /* line 82, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .single-footer-widget .click-btn {
      left: -50px;
    }
  }
  
  /* line 110, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_1 img {
    margin-bottom: 35px;
  }
  
  /* line 113, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_1 p {
    margin-bottom: 15px;
  }
  
  /* line 118, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_2 .social_icon {
    margin-top: 27px;
  }
  
  /* line 120, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_2 .social_icon a {
    color: #cccccc;
    font-size: 14px;
    margin-right: 20px;
  }
  
  /* line 130, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 30%;
    float: left;
    margin: 1%;
    position: relative;
    z-index: 2;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 130, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .footer_3 .footer_img .single_footer_img {
      width: 15%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 130, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .footer_3 .footer_img .single_footer_img {
      width: 10%;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 130, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .footer_3 .footer_img .single_footer_img {
      width: 10%;
    }
  }
  
  /* line 147, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: #000;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  /* line 158, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img i {
    text-align: center;
    position: absolute;
    top: 41%;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 2;
    opacity: 0;
  }
  
  /* line 170, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img:hover:after {
    opacity: 0.5;
  }
  
  /* line 173, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img:hover i {
    opacity: 1;
  }
  
  /* line 180, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .contact_info {
    position: relative;
    margin-bottom: 20px;
  }
  
  /* line 183, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .contact_info:last-child {
    margin-bottom: 0px;
  }
  
  /* line 186, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .contact_info p {
    margin-bottom: 10px;
  }
  
  /* line 188, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .contact_info p span {
    color: #83868c;
    font-size: 16px;
  }
  
  /* line 194, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .btn {
    background-color: #ff5e13;
    color: #fff;
    width: 40px;
    border-radius: 0px;
    padding: 0;
    border-radius: 2px !important;
  }
  
  /* line 203, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area span.ti-heart {
    font-size: 12px;
    margin: 0px 2px;
  }
  
  /* line 207, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .copyright_part_text {
    padding: 26px 0;
    margin-top: 112px;
    background-color: #06151f;
  }
  
  /* line 211, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .copyright_part_text p {
    font-size: 15px;
  }
  
  @media (max-width: 576px) {
    /* line 207, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .copyright_part_text {
      margin-top: 20px;
      text-align: center;
    }
    /* line 218, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .copyright_part_text p {
      font-size: 13px;
      color: #83868c;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 207, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .copyright_part_text {
      text-align: center;
      margin-top: 20px;
    }
    /* line 226, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .copyright_part_text p {
      font-size: 13px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 207, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
    .footer-area .copyright_part_text {
      margin-top: 42px;
      text-align: center;
    }
  }
  
  /* line 237, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .copyright_part_text a {
    color: #ff5e13;
  }
  
  /* line 241, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .input-group {
    border: 1px solid #dedede;
    padding: 5px;
  }
  
  /* line 244, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .input-group ::placeholder {
    font-size: 13px;
    color: #999;
  }
  
  /* line 252, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
  }
  
  /* line 257, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_footer.scss */
  .footer-area .btn_1 {
    margin-top: 0px;
  }