html{
    scroll-behavior: smooth;
}
body{
    font: 'San Francisco', Helvetica, Arial, san-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.content{
    padding-top: 50px;
    background-color: #f6f6f6;
}

.center-container{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    z-index: 1 !important;
    padding: 0;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    color: #364547;
    /* border: 1px solid black; */
}

.content-head{
    z-index: 1 !important;
    padding: 0px 150px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    color: #364547;
    /* border: 1px solid black; */
}

.left-container{
    position: relative;
    display: block;
}

.row{
    padding: 0 !important;
    margin: 0 !important;
}

/*******************************/
/********* Scrollbar CSS **********/
/*******************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/*******************************/
/********* Navbar CSS **********/
/*******************************/

.nav{
    letter-spacing: 1px;
    z-index: 10 !important;
}

.navbar-brand{
    vertical-align:middle;
}

.navbar-toggler{
    border: none;
}
.navbar a {
    color: #364547 !important;
}

.nav-item{
    padding: 0 2px;
}

.navbar-collapse{
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown-item:active{
    background-color: white !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:active{
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*******************************/
/********* content CSS **********/
/*******************************/

.hero-image {
    /* border: 1px solid red; */

    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
  }




/*******************************/
/********* Head left CSS **********/
/*******************************/

.left-container{
    padding-top: 5vh;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container{
    width: 100%;
    height: 100%;
    
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container h1{
    font-weight: 700;
    /* font-size: 50px; */
    font-size: 8vh;

    
    /* responsive */
    /* font-size: 40px; */
}
.left-container p{
    font-size: 2vh;
}
.left-container p span{
    color: #A93543;
    font-weight: bold;
}

.icon-container{
    width: 100%;
    display: flex;
    margin-top: 10px;
    /* border: 1px solid red; */
}


 
.icon-container a{
    color: #364547 !important;
    font-size: 35px;
    margin-right: 25px;
    position: relative;
}
.badge{
    position: absolute;
    font-size: 10px !important;
    margin-top: 50%;
    margin-left: 20%;
}


/*******************************/
/********* Right CSS **********/
/*******************************/

.right-container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* .carousel{
    border: 1px solid red;
    height: 60vh;
    width: 50%;
    
}

.carousel img{
    border: 1px solid blue;
    height: 60vh;
} */

.section-head{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-head h1{
    font-size: 48px;
    /* font-size: 1vh; */
    padding: 100px 0;
}

.text{
    background-color: #364547;
    color: #ffffff;
}

.section-bar{
    /* border: 1px solid red; */
    width: 100%;
    height: 35vh;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-item img{
    /* border: 1px solid red; */
    width: 98%;
    height: 30vh;
    background-color: black;
    
}


/*******************************/
/********* Center CSS **********/
/*******************************/

.garis{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #364547;
    display: inline-block;
    position: relative;
    padding-left: 65%;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #364547;
}
/* 
.garis::before{
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    background: #364547;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
} */
/* 
.garis-dua{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
    color: #364547;
    display: inline-block;
    position: relative;
    padding-left: 20%;
}

.garis-dua::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background: #364547;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
} */

/*******************************/
/********* Center CSS **********/
/*******************************/
.click{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.click a{
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #364547;
}

.click a:hover{
    color: #364547;
    text-decoration: none;
}

.fa-chevron-down{
    font-size: 24px;
    animation: bounce 5s infinite;
    z-index: 0;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }

/*******************************/
/********* center CSS **********/
/*******************************/
.center-div{
    width: 100%;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
        /* border: 1px solid red; */
}


.panel{
    /* border: 1px solid green; */
    width: 100%;
}

.item{
    width: 100%;
}


.item h1{
    font-size: 42px;
}

.garis-center{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 22px;
    color: #364547;
    display: inline-block;
    position: relative;
    padding-left: 15%;

}

.garis-center::before{
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    background: #364547;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.center-icon a{
    color: #364547 !important;
    font-size: 24px;
}

.item-1{
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: #364547;
}
.item-1 p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;  /* Number of lines displayed before it truncate */
     overflow: hidden;
}

.item-2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambar-center{
    /* border: 1px solid red; */
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


/*******************************/
/********* Center CSS **********/
/*******************************/

.fitur{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.fitur h1{
    text-align: center;
    color: #364547;
    font-weight: bold;
    padding-top: 50px;
}
.fitur h2{
    text-align: center;
    width: 10%;
    border-bottom: 5px solid #364547;
    margin-bottom: 50px;
    margin-top: 20px;
}

.fitur h1 span{
    color: #A93543;
}

/* .container-fitur{
    width: 100%;
    border: 1px solid red;

} */



/*******************************/
/********* Instagram CSS **********/
/*******************************/

.instagram-section {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 80px;
}
.instagram-section .left-container{
    /* border: 1px solid red; */
    padding: 0px;
    padding-left: 20%;
    width: 50%;
    height: 100%;
}

.instagram-section .right-container{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: left;
}

.instagram-section h1{
    -webkit-text-fill-color: #f6f6f6; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #364547;
}

.instagram-section span{
    width: 100%;
    margin-left: 0px;
}

.garis-insta{
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #364547;
    display: inline-block;
    position: relative;
    padding-left: 13%;
    left: 0;
}

.garis-insta::before{
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    background: #364547;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.insta{
    border-radius: 20px;
    width: 50%;
    height: 30vh;
    background-color: #ffffff;
    border: 1px solid #aaaa;
    background-image: url('../img/instagram.jpeg');
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

